# -----------------------------
# PYTHON
# -----------------------------
__pycache__/
*.py[cod]
*$py.class

# -----------------------------
# DJANGO
# -----------------------------
*.log
local_settings.py
db.sqlite3
media/

# -----------------------------
# VIRTUAL ENVIRONMENT
# -----------------------------
.venv/
venv/
env/

# -----------------------------
# ENV FILES (SECRETS)
# -----------------------------
.env
.env.*

# -----------------------------
# IDE / EDITOR
# -----------------------------
.vscode/
.idea/

# -----------------------------
# OS FILES
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# PYTHON BUILD FILES
# -----------------------------
build/
dist/
*.egg-info/

# -----------------------------
# LOCAL FILES
# -----------------------------
startup.txt